body {background-color: azure;}
h1 {text-align: center; color:darkolivegreen;}
h2 {text-align: center; padding:5%; color: darkblue;}
p {margin-left: 42%;}
.logo {width: 75px; height: 75px;}
.button-class {width: 500px; height: 100px; color: green;}