:root {
    --first-color: azure;
    --second-color: rgb(136, 203, 21);
    --first-text-color: rgb(74, 74, 219);
    --second-text-color: rgb(4, 4, 148);

}

body {
    background-color: var(--first-color);
}

h1 {
    text-align: center;
    color: var(--second-color);
}

h2 {
    text-align: center;
    padding: 5%;
    color: var(--second-text-color);
    font-family: Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

h3 {
    color: var(--second-color);
}

h4 {
    color: var(--first-text-color);
}

#navigation {
    background-color: var(--second-color);
}

#navigation.container {
    justify-content: center;
    color: var(--first-text-color);
    font-size: 2vw;
    border-radius: 50%;
}


.logo {
    width: 75px;
    height: 75px;
}

.pokemon-characters {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    row-gap: 10px;
}

.btn {
    background-color: rgb(70, 112, 125);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    font-size: 10px;
    justify-content: center;
}

;

.list-group-item {
    background-color: var(--first-color)
}

@media (min-width: 500px) and (max-width: 750px) {
    .btn {
        font-size: 5px
    }
}
;
@media (min-width: 750px) and (max-width: 900px) {
    .btn {
        font-size: 10px;
    }
}
;

@media (min-width: 1024px) {
    .btn {
        font-size: 15px
    }

    ;
}

@media (min-width: 1280px) {
    .btn {
        font-size: 20px
    }

    ;
}